name: EC platform tests
on:
  push:
  schedule:
    - cron: "0 23 * * *" # run daily at 23:00 (UTC)
  workflow_dispatch:

env:
  GHA_MACHINE_TYPE: n2-standard-8

jobs:
  build:
    container: debian:bullseye
    runs-on: [self-hosted, Linux, X64]
    env:
      IMG_FILE: debian-11-nocloud-amd64.qcow2
      CROS_MANIFEST_REF: stable
      EC_REV: 628e6aae41e9e4d30e2c74bbcaf24d225ccd121c
      ZEPHYR_REV: 4b05363d3f22682a96fb7ff0c91eefcd3ab56275
      EC_CHANGELIST_REV: refs/changes/60/6597060/63
      DEPOT_TOOLS_REV: 7c837b993aba7a5efbd5ca6f00271f2df7d1e495
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Cache build artifacts
        id: cache-build
        uses: actions/cache@v4
        env:
          cache-name: cache-chromium-ec-build
        with:
          path: artifacts/
          key: |
            ${{ runner.os }}-${{ env.cache-name }}\
            -img=${{ env.IMG_FILE }}\
            -cos=${{ env.CROS_MANIFEST_REF }}\
            -ec=${{ env.EC_REV }}\
            -zephyr=${{ env.ZEPHYR_REV }}\
            -cl=${{ env.EC_CHANGELIST_REV }}

      - if: ${{ steps.cache-build.outputs.cache-hit != 'true' }}
        name: Install dependencies
        run: |
          apt-mark hold tzdata
          apt update && apt upgrade --no-install-recommends -y
          DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y qemu qemu-utils qemu-system-x86 qemu-kvm libguestfs-tools expect linux-image-generic

      - if: ${{ steps.cache-build.outputs.cache-hit != 'true' }}
        name: Prepare image
        run: |
          wget https://cloud.debian.org/images/cloud/bullseye/latest/${{env.IMG_FILE}}
          qemu-img create -f qcow2 temp.qcow2 130G
          LIBGUESTFS_BACKEND=direct virt-resize --expand /dev/sda1 ${{env.IMG_FILE}} temp.qcow2
          mv temp.qcow2 ${{env.IMG_FILE}}
          LIBGUESTFS_BACKEND=direct virt-copy-in -a ${{env.IMG_FILE}} .github/scripts/run_admin.sh .github/scripts/run_user.sh .github/scripts/test_runner.patch .github/scripts/build_tests.sh .github/scripts/sanok_build.patch /root

      - if: ${{ steps.cache-build.outputs.cache-hit != 'true' }}
        name: Build tests
        run: |
          ./.github/scripts/expect.exp \
            ${{ env.IMG_FILE }} \
            ${{ env.CROS_MANIFEST_REF }} \
            ${{ env.EC_REV }} \
            ${{ env.ZEPHYR_REV }} \
            ${{ env.EC_CHANGELIST_REV }} \
            ${{ env.DEPOT_TOOLS_REV }}

      - if: ${{ steps.cache-build.outputs.cache-hit != 'true' }}
        name: Extract artifacts
        run: |
          mkdir -p artifacts-raw artifacts
          LIBGUESTFS_BACKEND=direct virt-copy-out -a ${{env.IMG_FILE}} /home/runner/chromiumos/src/platform/ec/build /home/runner/sanok-test-bins /root/vm_log.txt artifacts-raw
          cp artifacts-raw/vm_log.txt artifacts
          source .github/scripts/copy_helpers.sh
          copy_test_artifacts sanok
          copy_artifacts_zephyr sanok "key.vbprik2;ec.config"

      - name: Archive tests binaries
        uses: actions/upload-artifact@v4
        with:
          name: test-binaries
          path: artifacts/

  test:
    container: debian:bullseye
    runs-on: [self-hosted, Linux, X64]
    needs: build
    env:
      RENODE_VARIANT: "dotnet-portable"
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          apt-mark hold tzdata
          apt update && apt upgrade -y
          DEBIAN_FRONTEND=noninteractive apt install -y --no-install-recommends wget python3 python3-pip python3-venv python3-yaml git libicu-dev

      - name: Configure git
        run: |
          git config --global user.name "Antmicro"
          git config --global user.email "contact@antmicro.com"

      - name: Download test bins
        uses: actions/download-artifact@v4
        with:
          name: test-binaries
          path: ./artifacts

      - name: Generate tests
        run: |
          ./generate_tests.py
          cat tests.yml

      - name: Run tests
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip3 install git+https://github.com/antmicro/renode-run
          renode-run download --renode-variant "${RENODE_VARIANT}"
          renode-run test --renode-variant "${RENODE_VARIANT}" -- --tests tests.yml --jobs $(nproc) --test-timeout "10 minutes"

      - name: Archive tests results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            report.html
            log.html
            robot_output.xml
            snapshots/
            iteration*
            retry*
            logs/
